:root{
    --hover-cursor:pointer;
    --drop-shadow: 0 4px 4px 0 rgb(0,0,0,25%);
    --text-color:#173561;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto ;
}
html {
    scroll-behavior: smooth;
    
}
body{
    background-color: #FFFFFF;
}
/* start header style */
header{
    display: flex;
    box-shadow: var(--drop-shadow) ;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    background-color: #403F5E;
}
.fa-sharp.fa-solid.fa-crown{
    color: white;
}
header .links{
    list-style: none;
    display: flex;
    align-items: center;
}
header .links img{
    height: 16px;
    width: 16px;
}
header .links li{
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: var(--hover-cursor);
}
header .links li.clicked {
    background-color: #2E8E4E;
    border-radius: 5px;
}
header .links a{
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}
header .form{
    display: flex;
    align-items: center;
    width: 20%;
    color: white;
    justify-content: space-evenly;
}
header .form div{
    display: flex;
    align-items: center ;
    cursor: var(--hover-cursor);
}
header .form img{
    padding-right: 5px;
    cursor: var(--hover-cursor);
}
/* end header style */
/* start home style */
.home{
    width: 60%;
    margin: auto;
}
.home-content{
    
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content .logo{
    padding-top: 85px;
}
.home-content p{
    width: 473px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 33px;
    color: var(--text-color);
}
.home-content p.first{
    height: 52px;
}
.home-content p.second{
    margin-top: 16px;
    width: 667px;
    height: 45px;
}
.home-content form{
    cursor: var(--hover-cursor);
    border: 1px #000000 solid;
    padding: 30px 58px 23px 28px;
    border-radius: 55px;
    margin: 33px 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content form .input-pdf{
    display :none;
}
.home-content form label{
    cursor: var(--hover-cursor);
        padding-right: 20px;
        width: 90%;
        color: #1C4178;
}
.home-end{
    margin-top: 85px;
}
/* end of home style */
/* start premium style */
.premium-content .packages{
    display: flex;
    margin: 0 50px;
    justify-content: space-evenly;
}
.premium-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding: 81px 0 77px;
    font-size: 40px;
}
.premium-content h3{
    color: var(--text-color);
}
.premium-content h4{
    color: var(--text-color);
}
.premium-content span{
    color: #2E8E4E;
}
.premium-content .packages .free,
.premium-content .packages .gold,
.premium-content .packages .diamond{
    background-color: #E4E3E2;
    width: 257px;
    height: 426px;
    display: flex;
    box-shadow: var(--drop-shadow) ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.premium-content .freeBtn,
.premium-content .goldBtn,
.premium-content .diamondBtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 0px 16.4px;
    display: flex;
    cursor: var(--hover-cursor);
    align-items: center;
}
.premium-content .freeBtn:active{
background-color: #2196F3;
color: #fff;
border: black 1px solid;
}
.premium-content .goldBtn:active{
    background-color: #FFB743;
    border: black 1px solid;
    color: #fff;
}
.premium-content .diamondBtn:active{
    background-color: #9857BD;
    border: black 1px solid;
    color: #fff;
}
.premium-content .freeBtn:active img,
.premium-content .goldBtn:active img,
.premium-content .diamondBtn:active img {
    filter: brightness(0) invert(1);
}
.premium-content .freeBtn div:first-child,
.premium-content .goldBtn div:first-child,
.premium-content .diamondBtn div:first-child{
    padding: 10px 10px 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.premium-end{
    margin: 89px 0 85px;
}
/* end premium style */

/* start why style */
.why-content .advantages{
    display: flex;
    margin: 0 50px;
    justify-content: space-evenly;
    margin-bottom: 107px;
}
.why-content .accuracy,
.why-content .security,
.why-content .economic{
    display: flex;
    width: 20%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.why-content .accuracy h4,
.why-content .security h4,
.why-content .economic h4{
    text-align: center;
    width: 56%;

}
.why-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding-bottom: 84px;
    font-size: 40px;
}
.why-content h3{
    font-size: 20px;
    font-weight: 100;
    color: #40405D;
}
.why-content h4{
    font-weight: 100;
    font-size: 14px;
    color: var(--text-color);
}
.why-content p{
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
}
.why-end{
    margin: 79px 0 74px;   
}
/* end why style */
/* start about style */
.about-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding-bottom: 50px;
    font-size: 40px;
}
.about-content .we{
    display: flex;
    margin: 0 80px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 42px;
}
.about-content .we span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 191px;
    height: 191px;
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: auto;
    margin-bottom: 6px;
}
.about-content .we-text{
    margin: 0 13%;
    background: #F9F8F7;
    padding: 30px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 50px;
}
.about-end{
    margin: 37px 0 43px;   
}

