:root{
    --hover-cursor:pointer;
    --drop-shadow: 0 4px 4px 0 rgb(0,0,0,25%);
    --text-color:#173561;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto ;
}
html {
    scroll-behavior: smooth;
    
}
body{
    background-color: #FFFFFF;
}
/* start header style */
header{
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    box-shadow: var(--drop-shadow);
    padding: 0 170px;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    background-color: #403F5E;
}
@media screen and (max-width:1024px) {
    header{
        justify-content: space-around;
        padding: 0;
    }
}
@media screen and (max-width:728px) {
    header{    
        font-size: 10px;
        justify-content: space-between;
    }
    
}
@media screen and (max-width:481px) {
    header{    
        flex-direction: column;
}
}
.fa-sharp.fa-solid.fa-crown{
    color: white;
}
header .links{
    list-style: none;
    display: flex;
    align-items: center;
}
@media screen and (max-width:481px){
header .links{
    /* column */
    }
}
header .links img{
    height: 16px;
    width: 16px;
}
header .links li{
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: var(--hover-cursor);
}

@media screen and (max-width:728px) {
    header .links li{
        padding-left: 10px;
    }
}
header .links li.clicked {
    background-color: #2E8E4E;
    border-radius: 5px;
}
header .links a{
    display: flex;
    align-items: center;
    padding: 5px;
    color: white;
    text-decoration: none;
}
@media screen and (max-width:481px) {
    header .links a{
        padding: 0 5px 0 0;
    }

}
header .form{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    width: 30%;
}
@media screen and (max-width:768px){
    header .form{
        width: 33%;
    }
    
}
@media screen and (max-width:481px){
    header .form{
width: 100%;
    }
}
header .form .login{
    position: relative;
}
header .form .drop-login{
    position: absolute;
    width: 228px;
    height: 177px;
    background-color: #D9D9D9;
    right: 90px;
    top: 53px;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
}
header .form .drop-login{

    display: none; /* Hide by default */
}

  /* Style to show .drop-login when checkbox is checked */
  /* .login:active + .drop-login {
    display: block;
  } */
.login-form .input-container {
    display: flex;
    align-items: center;
    
}
.login-form .input-container input {
    width: 139px;
    padding-left: 10px;
    height: 37px;
    background-color: #173561;
    opacity: 80%;
    border: none;
    
}

.login-form .input-container .check-box {
    /* background-color: #000000; */
}
/* The container */
.check-container {
    display: block;
    position: relative;
    padding-left: 18px;
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    width: 76%;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 100;
    color: var(--text-color);
}

.check-container h4 {
    font-weight: 100;
}

/* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #000000;
    border-radius: 2px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.login-form .input-container img{
    padding: 4px;
    height: 37px;    
    background-color: var(--text-color);
    cursor: context-menu;
    
}
.login-form{
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.login-form button{
    position: absolute;
    text-transform: uppercase;
    background: #D9D9D9;
    bottom: -25px;
    z-index: -1;
    border-radius: 20px;
    color: var(--text-color);
    height: 29px;
    width: 75px;
    outline: none;
    cursor: var(--hover-cursor);
    border: none;
    box-shadow: var(--drop-shadow);
}

header .form .login,
header .form .sign-up{
    display: flex;
    align-items: center ;
    cursor: var(--hover-cursor);
}

header .form img{
    padding-right: 5px;
    cursor: var(--hover-cursor);
}
/* end header style */
/* start home style */
.home{
    position: relative;
    width: 60%;
    margin: auto;
}
.ads{
    background-color: #FEF7E5;
    right: -180px;
    box-shadow: var(--drop-shadow);
    width: 183px;
    height: 267px;
    top: 110px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 100;
}
@media screen and (max-width:1024px) {
    .ads{
        top: 40%;
        right: -30%;
    }
    
}
.ads .ad-space{
    color: var(--text-color);
    opacity: 85%;
    font-size: 15px;
    font-weight: 100;
}
.ads .put-ad{
    color: #DF8216;
    opacity: 85%;
}
.ads .contact-team{
    font-size: 15px;
    font-weight: 100;
    color: #2E8E4E;
    
}
.ads h5{
    font-size: 10px;
    font-weight: 100;
    color: var(--text-color);
}

.home-content{
    
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-content .logo{
    padding-top: 85px;
    
}
@media screen and (max-width:1024px){
    .home-content .logo{
        width: 100%;
    }
    
}
.home-content p{
    width: 473px;
    font-size: 13px;
    text-align: center;
    padding-bottom: 33px;
    color: var(--text-color);
}
@media screen and (max-width:768px){
    .home-content p{
    
        width: 100%;
    }
    
}
.home-content p.first{
    height: 52px;
}
.home-content p.second{
    margin-top: 16px;
    width: 667px;
    height: 45px;
}
@media screen and (max-width:1024px){
    .home-content p.second{
        width: 100%;
    }
    
}
.home-content form{
    cursor: var(--hover-cursor);
    border: 1px #000000 solid;
    padding: 30px 58px 23px 28px;
    border-radius: 55px;
    margin: 33px 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1024px){
    .home-content form{
        padding: 3%;
    }
}

.home-content form .input-pdf{
    display :none;
}
.home-content form label{
    cursor: var(--hover-cursor);
    padding-right: 20px;
    width: 90%;
    color: #1C4178 ;
    opacity: 50%;
}
@media screen and (max-width:1024px){
    .home-content form label{
        padding-left: 7%;
    }}
@media screen and (max-width:1024px){
    .home-content form img{
        width: 10%;
        margin-right: 10px;
    }}
    .home-end{
        margin-top: 85px;
        opacity: 15%;
    }
    /* end of home style */
    /* start premium style */
    @media screen and (max-width:1024px) {
    .premium-content {
        display: flex;
        align-items: center;
        flex-direction: column;

        }
}
    .premium-content .packages{
        display: flex;
        margin: 0 50px;
        justify-content: space-evenly;
    }
@media screen and (max-width:768px) {
    .premium-content .packages{
        align-items: center;
        flex-direction: column;
    }
}
.premium-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding: 81px 0 77px;
    font-size: 40px;
}
.premium-content h3{
    color: var(--text-color);
}
.premium-content h4{
    color: var(--text-color);
}
.premium-content span{
    color: #2E8E4E;
    position: relative;
    font-size: 17px;
}
.premium-content  .month::after{
    content: "OR";
    color: #000000;
    top: 120%;
    left: -30px;
    font-size: 10px;
    position: absolute;
}
.premium-content .packages .free,
.premium-content .packages .gold,
.premium-content .packages .diamond{
    background-color: #E4E3E2;
    width: 257px;
    height: 426px;
    display: flex;
    box-shadow: var(--drop-shadow) ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width:1024px) {
    .premium-content .packages .free,
    .premium-content .packages .gold,
    .premium-content .packages .diamond{
        margin-top: 15px;
        width: 240px;
        margin-left: 10px;
    }
}
.premium-content .freeBtn,
.premium-content .goldBtn,
.premium-content .diamondBtn{
    border: 1px solid;
    border-radius: 25px;
    padding: 0px 16.4px;
    background: transparent;
    display: flex;
    cursor: var(--hover-cursor);
    align-items: center;
}
.premium-content .freeBtn:active{
    background-color: #2196F3;
    color: #fff;
    border: black 1px solid;
}
.premium-content .goldBtn:active{
    background-color: #FFB743;
    border: black 1px solid;
    color: #fff;
}
.premium-content .diamondBtn:active{
    background-color: #9857BD;
    border: black 1px solid;
    color: #fff;
}
.premium-content .freeBtn:active img,
.premium-content .goldBtn:active img,
.premium-content .diamondBtn:active img {
    filter: brightness(0) invert(1);
}
.premium-content .freeBtn div:first-child,
.premium-content .goldBtn div:first-child,
.premium-content .diamondBtn div:first-child{
    padding: 10px 10px 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.premium-end{
    opacity: 15%;
    margin: 89px 0 85px;
}
/* end premium style */


/* start why style */

@media screen and (max-width:1024px){
    
    .why-content {
        
    display: flex;
    align-items: center;
    flex-direction: column;

    }
}
.why-content .advantages{
    display: flex;
    margin: 0 50px;
    justify-content: space-evenly;
    margin-bottom: 107px;
}
@media screen and (max-width:768px){
    
    .why-content .advantages{
    display: flex;
    align-items: center;
    flex-direction: column;

    }
}
.why-content .accuracy,
.why-content .security,
.why-content .economic{
    display: flex;
    width: 20%;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .why-content .accuracy,
    .why-content .security,
    .why-content .economic{
        margin-bottom: 50px;
    }
    .why-content .advantages{
    display: flex;
    align-items: center;
    flex-direction: column;

    }
}
.why-content .accuracy h4,
.why-content .security h4,
.why-content .economic h4{
    text-align: center;
    width: 56%;
}
@media screen and (max-width:768px){
    
    .why-content .accuracy h4,
    .why-content .security h4,
    .why-content .economic h4{
        width: 150%;
    }
}
.why-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding-bottom: 84px;
    font-size: 40px;
}
.why-content h3{
    font-size: 20px;
    font-weight: 100;
    color: #40405D;
}
.why-content h4{
    font-weight: 100;
    font-size: 14px;
    color: var(--text-color);
}
.why-content p{
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
}
.why-end{
    opacity: 15%;
    margin: 79px 0 74px;   
}
/* end why style */
/* start about style */
.about-content h2{
    text-align: center;
    font-weight: 100;
    color: var(--text-color);
    padding-bottom: 50px;
    font-size: 40px;
}
.about-content .we{
    display: flex;
    margin: 0 80px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 42px;
}
@media screen  and (max-width:768px){
    
    .about-content .we{

            display: flex;
            align-items: center;
            flex-direction: column;
        
    }
}
@media screen  and (max-width:1024px){
    
    .about-content .we div{
        margin-bottom: 30px;
    }
}
.about-content .we span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 191px;
    height: 191px;
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: auto;
    margin-bottom: 6px;
}
@media screen  and (max-width:1024px){
    
    .about-content .we span{
        margin-right: 6px;
        width: 141px;
        height: 141px;
    
    }
}
.about-content .we-text{
    margin: 0 13%;
    background: #F9F8F7;
    padding: 30px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 50px;
}
.about-end{
    margin: 37px 0 43px;   
    opacity: 15%;
}
/* end style of about */
/* start style of contact */
.contact-container{
    height: 430px;
    background: #F9F8F7;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    width: 275px;
    margin-bottom: 39px;
    box-shadow: var(--drop-shadow);
}
.contact-container::before{
    content: "";
    position: absolute;
    background-color: #721C35;
    width: 50%;
    height: 86px;
    left: 0;
    z-index: -1;
}
.contact-container::after{
    content: "";
    position: absolute;
    background-color: #403F5E;
    width: 50%;
    height: 86px;
    right: 0;
    z-index: -1;
}
.contact-container p{
    text-align: center;
}
.contact-container input{
    width: 184px;
    height: 40px;
    outline: none;
    border: 1px rgb(0,0,0,50%) solid;
    border-radius: 15px;
    padding-left: 20px;
    margin-left:20px ;
}
.contact-container input::placeholder{
    color: lightgray;   
    height: 18px;
}
.contact-container .message{
    width: 225px;
    padding: 15px 0 35px 14px;
    height: 67px;
}
.contact-container .contact-number{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-container .contact-number button{
    width: 67px;
    height: 34px;
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: center;
    color: white;
    background-color: #403F5E;
    cursor: var(--hover-cursor);
    font-size: 15px;
}
.contact-container .contact-number h4{
    font-weight: 100;
    color: #403F5E;
    
}
.contact-container .contact-number h4 span{
    text-decoration: underline;
    cursor: var(--hover-cursor);
    color: var(--text-color);
}
/* end contact style */
/* start footer style */
footer{
    background-color: rgb(244, 242, 239,50%);

}
.footer-container{
    display: flex;
    width: 60%;
    margin-left: 9%;
    justify-content: space-around;
}
@media screen and (max-width:768px){
    
    .footer-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
.footer-container .second-logo{
    margin-top: 52px;
}
.footer-container ul{
    margin-top: 42px;
    list-style: none;
    
}
@media screen and (max-width:768px){
    
    .footer-container ul{
        text-align: center;
    }
}
.footer-container ul li{
    color: var(--text-color);
    opacity: 70%;
}
.footer-container ul> :first-child{
    color: var(--text-color);
    opacity: 100%;
}
.copy-right{        
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}
@media screen and (max-width:768px){
    .copy-right{        
        align-items: center;
        text-align: center;
    }
}
.copy-right h5{
    font-weight: 100;
    font-size: 15px;
    margin-left: 5px;
}
.copy-right .thirdLogo{
    height: 12px;
}


/* end footer style */
/* start style of pay page*/
.pay-main{
    display: flex;
    margin-left:8% ;
}
.pay-main .user-details{
    padding: 104px 0 24px 68px;
    display: flex;
    flex-direction: column;
}
.pay-main input::placeholder{
    color: rgb(30, 30, 30,30%);
    font-size: 15px;
}
.pay-main input{
    margin-bottom: 24px;
    background-color: #FDF1D2;
    outline: none;
    border: none;
    box-shadow: var(--drop-shadow);
    padding: 14px 0 14px 34px;
    border-radius: 20px;
    width: 226px;
}
.date-CVV{
    display: flex;
    justify-content: space-between;
    width: 226px;
}
.pay-main #CVV,
.pay-main #date{
    width: 106px;
    
}
.pay-main #submit{
    width: 113px;
    padding: 0px;
    height: 42px;
    color: white;
    background-color: #DF8216;
    box-shadow: none;
    cursor: var(--hover-cursor);   
}
.logo-discount{
    margin-left: 13px;
    padding-top: 52px;
    position: relative;
}
.logo-discount::after{
    content: "";
    position: absolute;
    right: 0;
    top: 163px;

    background-color: rgb(0,0,0,10%);
    height: 497px;
    width: 1px;
}

.logo-discount img{
    height: 523px;
    width: 645px;
    
}
.logo-discount .discount {
    display: flex;
    align-items: flex-end;
}

.pay-main #show-discount{
    margin-bottom: 0px;
    padding: 14px 0 14px;
    width: 128px;
}
.logo-discount .discount .apply{
    outline: none;
    cursor: var(--hover-cursor);   
    border: none;
    color: white;
    background-color: var(--text-color);
    /* padding: 9px  5px  ; */
    width: 83px;
    height: 35px;
    margin: 0 34px 0 29px;
    font-size: 15px;
    border-radius: 20px;
}
.logo-discount .discount p{
    color: var(--text-color);
    font-size: 15px;
    display: flex;
    margin: auto 0 auto 34px;
}
.remember{
    padding-top: 104px;
    margin: 0 3%;
    display: flex;
}

.remember-packages {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 36px;
}
.remember-packages .gold,
.remember-packages .diamond{

    background-color:rgb(244,244,243,100%);
    width: 196px;
    height: 281px;
    margin-bottom: 19px;
    display: flex;
    box-shadow: var(--drop-shadow) ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.remember-packages h3{
    color: var(--text-color);
    font-size: 15px;
    color: rgb(0, 0, 0,80%);
    font-weight: 400;
    margin-bottom: 17px;
}
.remember-packages h4{
    color: var(--text-color);
}
.remember-packages span{
    color: #2E8E4E;
    position: relative;
    font-size: 17px;
}
.remember-packages .month::after{
    content: "OR";
    color: #000000;
    top: 120%;
    left: -30px;
    font-size: 10px;
    position: absolute;
}